configuration {
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
    kb-cancel: "Escape,MouseSecondary";
    terminal: "ghostty";
}

/* En la sección window del tema */
window {
    layer: "top";
    /* Esto ayuda a que el foco se pierda correctamente en Wayland */
    close-on-click: true;
}
